@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width: 100%;
    margin-left: .5cm;
    margin-right: .5cm;
    display: flex; /*sempre no elemento pai*/
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    background-color: rgb(238, 155, 155);
    color: black;
    padding: 10px;
    margin: 0;
    border: black 1px dotted;
}

p {
    font-size: 2em;
    text-align: center;
}

.item1 {
    height: 100px;
    width: 100px;
    flex: 100%;
}

.item2 {
    height: 100px;
    width: 100px;
    flex: 100%;
}

.item3 {
    height: 100px;
    width: 100px;
    flex: 50%;
}

.item4 {
    height: 100px;
    width: 100px;
    flex: 50%;
}

.item5 {
    height: 100px;
    width: 100px;
    flex: .4;
}

.item6 {
    height: 100px;
    width: 100px;
    flex: 100%;
}
